@media (max-width: 600px) {
    .container {
      width: 100%;
    }
}
div.Home_page_picture{
    text-align: center;
    width: auto; /* must to set it  */
    margin: auto;
    box-sizing: content-box;
}
body{
    background-color: #F8FED9;
}
button{
    background-color: #9E1ADB;  
    width: 600px;
    height: 60px;
}